<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prototype Modelshow Registration</title>
    <link rel="stylesheet" href="style.css">
    <script src="main.js" defer></script>
</head>

<body>    
    <nav class = "pageNav">
        <span><a href="/registration">Registration</a></span>
        <span><a href="/judging">Judging<span></a></span>
        <span><a href="/filters">View/Filter entries</span></a>
    </nav>
    <h1>Miniatures Show Results</h1>
    <a href="/filters"><button id="all">View all</button></a>
    <a href="/filtersbronze"><button id="bronze">Bronze</button></a>
    <a href="/filterssilver"><button id="silver">Silver</button></a>
    <a href="/filtersgold"><button id="gold">Gold</button></a>
    <a href="/filterscorrr"><button id="corrr">CORRR</button></a>

    <div class="entries">
        <% for(let i = 0; i < info.length; i++) {%>
            <div class="entry" id=<%= info[i].id %>>
                <div>
                    <p>Number:</p>
                    <p>Name:</p>
                </div>
                <div>
                    <p><%= info[i].id %></p>
                    <p><%= info[i].fullName %></p>
                    <p><% for (let prize of Object.keys(info[i].prizes).filter(e => info[i].prizes[e])) {%>
                        <span><%= prize %>: <%= info[i].prizes[prize] %></span>
                        <% } %>
                    </p>
                </div>
            </div>
        <% } %>
    </div>

</body>